.env
Deloitte/finetuned/models/*
Deloitte/finetuned/Alpaca_+_Llama_3_8b_Unsloth_2x_faster_finetuning.ipynb
Deloitte/finetuned/llama-3-finetune-qlora.ipynb
reference_implementations/*
scratch/*
Deloitte/finetuned/llama.cpp/